<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orionhealth.app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.main.MainActivity"
            android:label="@string/title_activity_my_medication" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.main.AddMedicationActivity"
            android:label="@string/title_activity_add_medication"
            android:parentActivityName=".activities.main.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".activities.main.EditMedicationActivity"
            android:label="@string/title_activity_edit_medication"
            android:parentActivityName=".activities.main.MainActivity"
						android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".activities.main.AddAllergyActivity"
            android:label="@string/title_activity_add_allergy"
						android:theme="@style/AllergyTheme"
            android:parentActivityName=".activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>

        <activity
            android:name=".activities.main.EditAllergyActivity"
            android:label="@string/title_activity_edit_allergy"
						android:theme="@style/AllergyTheme"
            android:parentActivityName=".activities.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.main.MainActivity" />
        </activity>

        <receiver
            android:name="orionhealth.app.services.AlarmReceiver"
            android:process=":remote" />
			<receiver
				android:name="orionhealth.app.services.AlarmReceiver"
				android:process=":remote" />

			<receiver android:name=".services.AlarmReceiver$OnCancelReceiver"
								android:process=":remote"/>

			<service android:name=".services.RingToneService"/>
			<service android:name=".services.MedResponseService"/>
		</application>

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>
